@import 'variables';

/* Composition */
.layout-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Utility */
.u-padding {
  padding: 10px 20px;
}

.u-text-center {
  text-align: center;
}

.u-bg-secondary {
  background-color: var(--secondary);
}

.u-bg-primary {
  background-color: var(--primary);
}

.u-text-white {
  color: white;
}

.u-border-radius {
  border-radius: 5px;
}

/* Block: Top Bar */
.top-bar {
  @extend .layout-flex;
  @extend .u-bg-secondary;
  @extend .u-padding;
  @extend .box-shadow;

  .store-name {
    font-size: 20px;
    font-weight: bold;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .top-nav a {
    margin-left: 15px;
  }
}

/* Block: Side Bar */
.side-bar {
  flex: 0 0 150px;
  @extend .u-bg-secondary;
  padding: 20px;
  @extend .box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    margin-top: 0;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}

/* Block: Footer Bar */
.footer-bar {
  @extend .u-bg-primary;
  @extend .u-text-white;
  @extend .u-text-center;
  @extend .u-padding;
  margin-top: auto;
}

/* Block: Sub Bar */
.sub-bar {
  @extend .layout-grid;
  @extend .u-padding;

  .buttons-container {
    display: flex;
    gap: 10px;
    margin-right: 180px;
  }

  button {
    @extend .u-bg-secondary;
    @extend .u-border-radius;
    color: var(--black);
    border: 1px solid var(--secondary);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;

    &:hover {
      @extend .u-bg-primary;
    }
  }
}
