@import 'variables';

/* Composition */
.layout-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.layout-flex {
  display: flex;
}

.layout-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-primary{
    background-color: var(--primary);
}

.color-secondary{
    color: var(--secondary);
}

.color-accent{
    color: var(--accent);
}

.color-background{
    color: var(--background);
}
 
.text-color{
    color: var(--text);
}

.padding-horizontal {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.border-radius {
  border-radius: 0.5rem;
}

.list-style-initial {
  list-style: initial;
}
/*Block*/

.card {
  border-radius: 1rem;
  background-color: var(--primary);
  
}
.card>ul>li{
  border-radius: 0.5rem;
  background-color: var(--secondary);
  margin-top: 1rem;
}

.text-align-center{
  text-align: center;
  }
.layout-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.3rem;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  //width: 100%;
}

/* Utility */
.u-padding {
  padding: 20px;
}
.u-margin-top {
  margin-top: 1rem;
}

.u-bg-primary {
  background-color: var(--primary);
}

.u-bg-secondary {
  background-color: var(--secondary);
}
.u-bg-blue{
  background-color: var(--blue);
}
.u-bg-accent{
  background-color: var(--accent);
}
.u-bg-black{
  background-color: var(--black);
}

.u-border-radius {
  border-radius: 1rem;
}

.u-text-center {
  text-align: center;
}

.u-width-100{
  width: 100%;
}

/* Block: Card */
.card {
  @extend .u-border-radius;
  @extend .u-bg-primary;

  ul > li {
    @extend .u-border-radius;
    @extend .u-bg-secondary;
    @extend .u-margin-top;
  }
}


/* Block: Product List */
.product-list {
  @extend .layout-wrap;
  @extend .u-padding;
  min-width: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

.product-card {
  @extend .u-bg-blue;
  @extend .u-border-radius;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-image {
    @extend .layout-center;
    margin: 10px 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  h3,
  p {
    @extend .u-text-center;
  }

  .product-buttons {
    @extend .layout-flex;
    gap: 10px;
    margin-top: auto;
    width: 100%;

    button {
      flex: 1;
      padding: 8px;
      @extend .u-bg-primary;
      color: white;
      border: none;
      cursor: pointer;
      @extend .u-border-radius;
      @extend .u-bg-black;
      

      &:hover {
        @extend .u-bg-accent;
      }
    }
  }
}
/* Block: Page */
.page-container {
  @extend .layout-flex;
  flex-direction: column;
  min-height: 96.3vh;
}

/* Exception */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background);
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  @extend .layout-flex;
  flex: 1;
}